<div>
    <a href="/logout" style="float: right;"> Logout </a>
    <a href="/friends" style="float: right;"> Friends | </a>
    <a href="/myprofile" style="float: right;"> My Profile | </a>
    <a href="/hello" style="float: right;"> Home | </a>
    <a href="/notifications" style="float: right;"> Notifications <%= notif %> | </a>
</div> 