<div>
    <a href="/logout" style="float: right;">Logout</a>
    <a href="/search" style="float: right;">Search | </a>
    <a href="/friends" style="float: right;">Friends | </a>
    <a href="/hello" style="float: right;">Home | </a>
</div>