<html>
  <head>
  </head>
  <body>
    <img src="1.png" width="50" 
     height="50"/>
    <h2>Hello, <%=username%>! <%=results%> </h2>

    <form action="/logout" method="GET">
      <input type="submit" value="Log out" name="logout"/>
  </body>
</html>