<html>
  <head>
  </head>
  <body>
    <form action="/auth" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" />
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />
        <input type="submit" value="Log in" name="loglogin"/>
        <input type="submit" value="Sign Up" name="signup"/>
  </body>
</html>