<html>
      <head>
      </head>
      <style>
        .friend-comp{
        background: linear-gradient(rgb(241, 240, 240), rgb(200,200,200));
        padding: 10px;
        margin: 15px;
        border-radius: 12px;
        box-shadow: 5px 5px 5px rgb(233, 233, 233);
        transition: 0.3s ease;
        background: linear-gradient(rgb(241, 240, 240), rgb(235, 233, 233));
        }
        .friend-comp:hover{
        box-shadow: 8px 8px 8px rgb(184, 184, 184);
        }
        .text{
        font-size:      40px;
        font-weight:    bold;
        }
      </style>
    <body>

          <%- include('header.ejs') %>
          <img src="1.png" width="50" height="50"/>
          <h2>
            This is user <%=username%>!
          </h2>
          
          <br>

          <div>
            <form name="follow" method="POST" action="/followuser"> 
                <input type="submit" value="Follow" name="followuser"/>
            </form>
            <form name="unfollow" method="POST" action="/unfollowuser"> 
              <input type="submit" value="Unfollow" name="unfollowuser"/>
          </form>
        </div>

        

        <div class="friend-comp"><h2>
            <% for(var i=0; i<1; i++) {%>
               <%= visit_posts[i] %>
               <br>
            <% } %>
          </h2>

          <ul>
            <% for(var i=1; i<visit_posts.length; i++) {%>
               <li><%= visit_posts[i] %></li>
               <br>
            <% } %>
          </ul>
        </div>

    </body>
</html>